body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: left;
}

h1 {
    text-align: left;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5); /* Größere Checkboxen für bessere Bedienung */
}